# Packages
node_modules

# IDEs
.vscode
.idea

# Compiled files
**/*.js
**/*.js.map

# Not ignore gulpfile
!gulpfile.js

# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm
yarn.lock

# Dotenv file
.env